## Port number to run the server on
PORT=YourPortNumber                                # Defaults to 8080

## Redis properties
REDIS_HOST=YourDatabaseHostName                    # Defaults to localhost
REDIS_PORT=YourDatabasePortNumber                  # Defaults to 6379

## Google Oauth2 properties
GOOGLE_CLIENT_ID=YourGoogleClientId                # Defaults to null

# Rabbit MQ properties
RABBITMQ_URL=YourRabbitMQUrl                       # Defaults to amqp://localhost
RABBITMQ_QUEUE_NAME=YourRabbitMQQueueName          # Defaults to 'elastic-search-queue'
